* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* HEADER */

.edit-nav {
    background-color: white;
}

.logo {
    width: 70%;
}


/* MAIN */

.contenedor__portada {
    position: relative;
    display: flex;
    height: 100vh;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.texto__portada {
    position: absolute;
    text-align: center; 
    color: white;
}

.titulo__portada {
    font-size: 3.5em;
    line-height: 1.2em;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.extra__portada {
    font-size: .5em;
    line-height: 2.5em;
    font-weight: 600;
    display: block;
}

.comentario__portada {
    font-size: 1em;
    width: 50%;
    margin-left: 25%;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.banner__portada {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

/* INDUSTRIAS */

.contenedor__industrias {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    gap: 10%;
    margin-top: 15%;
}

.separador__industrias {
    width: 50%;
    height: 5px;
    background-color: hsl(32, 98%, 50%);
    margin-left: 25%;
}

.titulo__industrias {
    font-size: 3em;
    font-weight: 700;
}

.item__industrias h3 {
    font-size: 1.2em;
    font-weight: 700;
}

/* FOOTER INDEX */

.contenedor__pie {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: 10%;
    margin-top: 60%;
}

.separador__pie {
    width: 50%;
    height: 5px;
    background-color: hsl(32, 98%, 50%);
    margin: 0;
}

.logo__pie {
    width: 70%;
}

/* SERVICIOS */

.under__titulo {
    text-decoration: underline;
    text-decoration-color: hsl(32, 100%, 50%);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8) ;
}

.contenedor__infoServicios {
    display: grid;
    grid-template-columns: 1fr;
    background-color: hsl(0, 11%, 95%);
    justify-content: center;
    gap: 50px;
    margin-top: 60px;
    padding: 0px 0px 110px 0px;
}

.texto__infoServicios {
    padding: 50px 30px;
}

.texto__infoServicios h3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    font-size: 1em;
    font-weight: 700;
}

.imagen__infoServicios img {
    width: 100%;;
}

.extra__infoServicios {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.extra__infoServicios h3 {
    text-align: center;
    font-size: 100%;
    font-weight: 700;
}

.lista__infoServicios {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10%;
    padding: 10px 30px;
}

.item__infoServicios {
    display: flex;
}

.item__infoServicios img {
    width: 4%;
    height: 18px;
    padding-top: 4px;
}

.item__infoServicios h4 {
    font-size: 1em;
}

.margin__pie {
    margin-top: 20%;
}

@media screen and (min-width: 600px) {
    /* MAIN */
    
    .titulo__portada {
        font-size: 4em;
    }

    .extra__portada {
        font-size: .8em;
    }

    .comentario__portada {
        font-size: 1.2em;
    }

    /* INDUSTRIAS */

    .contenedor__industrias {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr 1fr;
    }

    .separador__industrias {
        grid-column: span 2;
    }

    .titulo__industrias {
        grid-column: span 2;
        font-size: 4.5em;
    }

    .item__industrias img {
        width: 30%;
    }

    .item__industrias h3 {
        font-size: 2em;
    }

    .petroquimica__item {
        grid-column: span 2;
    }

    .petroquimica__item img {
        width: 15%;
    }

    /* FOOTER  INDEX*/

    .contenedor__pie {
        margin-top: 25%;
    }

    .logo__pie {
        width: 40%;
    }

    .ubicacion__pie p {
        font-size: 1.1em;
    }

    /* SERVICIOS */

    .extra__infoServicios {
        justify-items: center;
        margin-top: 40px;
    }

    .extra__infoServicios h3 {
        font-size: 1.5em;
        justify-self: flex-start;
        padding-left: 40px;
    }

    .margin__pie {
        margin-top: 50px;
    }

    .lista__infoServicios {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr 1fr;
    }
} 

@media screen and (min-width: 992px) and (max-width: 1024px) {

    .edit-list {
        display: none;
    }

    .edit-button {
        display: flex !important;
        margin-left: 70%;
    }
}

@media screen and (min-width: 1025px) {
    /* HEADER */
    
    .edit-list {
        margin-left: 30%;
    }

    /* INDUSTRIAS */

    .titulo__industrias {
        font-size: 3.5em;
    }

    .item__industrias img {
        width: 18%;
    }

    .item__industrias h3 {
        font-size: 1em;
    }

    .petroquimica__item img {
        width: 9%;
    }

    /* FOOTER */

    .contenedor__pie {
        margin-top: 150px;
    }

    .logo__pie {
        width: 20%;
    }
}
