* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.edit-nav {
  background-color: white;
  padding-bottom: 0;
  border-bottom: 1px solid hsl(32, 98%, 50%);
}
.edit-nav div {
  padding: 0;
}
.edit-nav div a img {
  width: 70%;
}
.edit-nav div button {
  color: transparent;
  margin-right: 3%;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 8, 0.2) !important;
  transition: all 1s ease;
}
.edit-nav div button span {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3e%3cpath stroke='%230056b8' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.edit-nav div button:active {
  width: 52px;
  height: 36px;
}
.edit-nav div .edit-list {
  background-color: #0056b8;
  padding-left: 2%;
  border-bottom: 3px solid hsl(32, 98%, 50%);
}
.edit-nav div .edit-list ul li a {
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
}

@media screen and (min-width: 1201px) {
  .edit-nav div {
    justify-content: right;
  }
  .edit-nav div .edit-list {
    background-color: transparent;
    border-bottom: none;
    margin-right: 10vw;
  }
  .edit-nav div .edit-list ul li a {
    color: #0056b8;
  }
}
.contenedor__portada {
  position: relative;
  display: flex;
  height: 102vh;
  justify-items: center;
  align-items: center;
  justify-content: center;
  border-bottom: 10px solid #0056b8;
}
.contenedor__portada .texto__portada {
  position: absolute;
  text-align: center;
  color: white;
}
.contenedor__portada .texto__portada .titulo__portada {
  font-size: 3.5em;
  line-height: 1.2em;
  font-weight: 500;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}
.contenedor__portada .texto__portada .titulo__portada .extra__portada {
  font-size: 0.5em;
  line-height: 2.5em;
  font-weight: 600;
  display: block;
}
.contenedor__portada .texto__portada .comentario__portada {
  font-size: 1em;
  width: 50%;
  margin-left: 25%;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}
.contenedor__portada .banner__portada {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.component__portada {
  height: 60vh;
}

@media screen and (min-width: 600px) {
  .contenedor__portada .texto__portada {
    text-align: left;
  }
  .contenedor__portada .texto__portada .titulo__portada {
    font-size: 4.4rem;
    font-weight: 400;
  }
  .contenedor__portada .texto__portada .titulo__portada .extra__portada {
    font-size: 3.5rem;
    font-weight: 700;
  }
  .contenedor__portada .texto__portada .comentario__portada {
    width: 100%;
    margin-left: 0;
    font-size: 1.2rem;
  }
}
.contenedor__industrias {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 10%;
  margin-top: 15%;
}
.contenedor__industrias .separador__industrias {
  width: 45%;
  height: 3px;
  border-radius: 2px;
  background-color: hsl(32, 98%, 50%);
  margin: 0;
}
.contenedor__industrias .titulo__industrias {
  font-size: 3em;
  font-weight: 700;
}
.contenedor__industrias .item__industrias h3 {
  font-size: 1.2em;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .contenedor__industrias {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr;
  }
  .contenedor__industrias .separador__industrias {
    grid-column: span 2;
  }
  .contenedor__industrias .titulo__industrias {
    grid-column: span 2;
  }
  .contenedor__industrias .item__industrias {
    width: 100%;
  }
  .contenedor__industrias .item__industrias img {
    width: 35%;
  }
  .contenedor__industrias .item__industrias h3 {
    font-size: 1.6rem;
    width: 100%;
  }
  .contenedor__industrias .petroquimica__item {
    grid-column: span 2;
    width: 50%;
  }
}
@media screen and (min-width: 1201px) {
  .contenedor__industrias {
    gap: 70px;
  }
  .contenedor__industrias .item__industrias img {
    width: 15%;
  }
  .contenedor__industrias .item__industrias h3 {
    font-size: 1rem;
  }
}
.contenedor__pie {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 10%;
  margin-top: 60%;
}
.contenedor__pie .separador__pie {
  width: 45%;
  height: 3px;
  border-radius: 2px;
  background-color: hsl(32, 98%, 50%);
  margin: 0;
}
.contenedor__pie .logo__pie {
  width: 70%;
}

.servicios__pie {
  margin-top: 20%;
}

@media screen and (min-width: 600px) {
  .contenedor__pie {
    margin-top: 20%;
  }
  .contenedor__pie .logo__pie {
    width: 50%;
  }
}
@media screen and (min-width: 1201px) {
  .contenedor__pie {
    margin-top: 10%;
  }
  .contenedor__pie .logo__pie {
    width: 15%;
  }
}
.contenedor__infoServicios {
  display: grid;
  grid-template-columns: 1fr;
  background-color: hsl(0, 11%, 95%);
  justify-content: center;
  gap: 50px;
  margin-top: 60px;
  padding: 0px 0px 110px 0px;
}
.contenedor__infoServicios .texto__infoServicios {
  padding: 50px 30px;
}
.contenedor__infoServicios .texto__infoServicios h3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  font-size: 1em;
  font-weight: 700;
}
.contenedor__infoServicios .imagen__infoServicios img {
  width: 100%;
}
.contenedor__infoServicios .extra__infoServicios {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.contenedor__infoServicios .extra__infoServicios h3 {
  text-align: center;
  font-size: 100%;
  font-weight: 700;
}
.contenedor__infoServicios .extra__infoServicios .lista__infoServicios {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10%;
  padding: 10px 30px;
}
.contenedor__infoServicios .extra__infoServicios .lista__infoServicios .item__infoServicios {
  display: flex;
}
.contenedor__infoServicios .extra__infoServicios .lista__infoServicios .item__infoServicios img {
  width: 4%;
  height: 18px;
  padding-top: 4px;
}
.contenedor__infoServicios .extra__infoServicios .lista__infoServicios .item__infoServicios h4 {
  font-size: 1em;
}

@media screen and (min-Width: 600px) {
  .contenedor__infoServicios .extra__infoServicios h3 {
    font-size: 1.5rem;
    text-align: left;
    margin-left: 30px;
  }
  .contenedor__infoServicios .extra__infoServicios .lista__infoServicios .item__infoServicios img {
    width: 2%;
  }
}
@media screen and (min-width: 1201px) {
  .contenedor__infoServicios .extra__infoServicios .lista__infoServicios .item__infoServicios img {
    width: 1%;
  }
}
.contenedor__novedades {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 10%;
  margin-top: 100px;
  gap: 80px;
}
.contenedor__novedades .item__novedades {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 10%;
  text-align: left;
  padding: 0 18px;
  gap: 10px;
}
.contenedor__novedades .item__novedades img {
  width: 100%;
  height: 200px;
}
.contenedor__novedades .item__novedades .item__fecha {
  width: 100%;
  color: hsl(32, 98%, 50%);
}
.contenedor__novedades .item__novedades h2 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #0056b8;
  width: 100%;
}
.contenedor__novedades .item__novedades div {
  width: 100%;
  height: 1px;
  background-color: rgb(185, 185, 185);
  margin: 0;
}

@media screen and (min-width: 600px) {
  .contenedor__novedades {
    padding: 0px 20vw;
  }
}
@media screen and (min-width: 1201px) {
  .contenedor__novedades .item__novedades img {
    height: 100%;
  }
}
.contenedor__nosotros {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 10%;
  gap: 50px;
  margin-top: 70px;
}
.contenedor__nosotros .texto__nosotros {
  padding: 0px 30px;
}
.contenedor__nosotros .texto__nosotros p {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 10%;
  gap: 20px;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  color: #212529;
}
.contenedor__nosotros .texto__nosotros p span {
  font-weight: 400;
}
.contenedor__nosotros .detalle__nosotros {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 10%;
  gap: 30px;
  padding: 30px;
}
.contenedor__nosotros .detalle__nosotros .tarjeta__nosotros {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 10%;
  background-color: #0056b8;
  height: 255px;
  padding: 20px;
  gap: 0px;
  align-items: center;
  color: white;
  border-radius: 5px;
}
.contenedor__nosotros .detalle__nosotros .tarjeta__nosotros h3 {
  font-weight: 800;
}
.contenedor__nosotros .compromiso__nosotros {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 10%;
  text-align: left;
  gap: 10px;
  background-color: hsl(0, 11%, 95%);
  padding: 40px 10px;
}
.contenedor__nosotros .compromiso__nosotros h3 {
  width: 94%;
  font-size: 1.2rem;
}
.contenedor__nosotros .compromiso__nosotros ul {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 10%;
  text-align: left;
  gap: 10px;
}

@media screen and (min-width: 1201px) {
  .contenedor__nosotros .detalle__nosotros .tarjeta__nosotros {
    width: 70vw;
  }
}
.contenedor__contacto {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 10%;
  gap: 30px;
  text-align: left;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 8, 0.2);
  border-radius: 20px;
  width: 90vw;
  margin-left: 5vw;
  margin-top: 70px;
}
.contenedor__contacto h2 {
  font-weight: 700;
}
.contenedor__contacto div {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 10%;
  text-align: left;
  gap: 5px;
}
.contenedor__contacto div label {
  width: 100%;
  font-weight: 600;
}
.contenedor__contacto div input, .contenedor__contacto div textarea {
  width: 280px;
  padding: 10px 15px;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 0 20px rgba(0, 0, 8, 0.2);
  resize: none;
}
.contenedor__contacto .btn {
  background-color: hsl(32, 98%, 50%);
  color: white;
  font-weight: 700;
  width: 150px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 8, 0.2);
}

@media screen and (min-width: 600px) {
  .contenedor__contacto {
    width: 60vw;
    height: 80vw;
    margin-left: 20vw;
    margin-top: 100px;
  }
  .contenedor__contacto div input, .contenedor__contacto div textarea {
    width: 380px;
  }
  .contenedor__contacto .btn {
    height: 6vw;
  }
}
@media screen and (min-width: 1201px) {
  .contenedor__contacto {
    gap: 80px;
  }
  .contenedor__contacto h2 {
    margin-top: 50px;
  }
  .contenedor__contacto div {
    width: 80%;
    gap: 0;
  }
  .contenedor__contacto div input, .contenedor__contacto div textarea {
    width: 100%;
  }
  .contenedor__contacto .btn {
    height: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
