@import "../base/mixin";
@import "../base/variables";

.contenedor__contacto {
    @include gridMobile;
    gap: 30px;
    text-align: left;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 8, 0.2);
    border-radius: 20px;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 70px;
    h2 {
        font-weight: 700
    }
    div {
        @include gridMobile;
        text-align: left;
        gap: 5px;
        label {
            width: 100%;
            font-weight: 600;
        }
        input, textarea {
            width: 280px;
            padding: 10px 15px;
            border-radius: 20px;
            border: 0;
            box-shadow: 0 0 20px rgba(0, 0, 8, 0.2);
        }
    }
    .btn {
        background-color: $color-principal;
        color: white;
        font-weight: 700;
        width: 150px;
        border-radius: 16px;
        box-shadow: 0 0 20px rgba(0, 0, 8, 0.2);
    }
}