@import "../base/variables";

.edit-nav {
    background-color: white;
    padding-bottom: 0;
    div {
        padding: 0;
        a {
            img {
                width: 70%;
            }
        }
        button {
            color: $color-secundario;
            margin-right: 3%;
            span {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%230056b8' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }
        }
        .edit-list {
            background-color: $color-secundario;
            padding-left: 2%;
            ul {
                li{
                    a{
                        color: white;
                        font-size: .8rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}