@import "../base/variables";

.contenedor__portada {
    position: relative;
    display: flex;
    height: 102vh;
    justify-items: center;
    align-items: center;
    justify-content: center;
    border-bottom: 10px solid $color-secundario;
    .texto__portada {
        position: absolute;
        text-align: center; 
        color: white;
        z-index: 1;
        .titulo__portada {
            font-size: 3.5em;
            line-height: 1.2em;
            font-weight: 500;
            .extra__portada {
                font-size: .5em;
                line-height: 2.5em;
                font-weight: 600;
                display: block;
            }
        }
        .comentario__portada {
            font-size: 1em;
            width: 50%;
            margin-left: 25%;
        }
    }
    .filtro__portada {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    .banner__portada {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.component__portada {
    height: 60vh;
    justify-content: left;
    .under__texto {
        text-align: left;
        padding: 0 30px;
        .under__titulo {
            font-size: 2.5rem;
            font-weight: 700;
            position: relative;
        }
        .under__titulo::after {
            content: "";
            width: 85%;
            height: 5px;
            background-color: $color-principal;
            position: absolute;
            left: 1px;
            top: -20px;
        }
    }
}

@media screen and (min-width: 819px) {
.contenedor__portada {
    .texto__portada {
        text-align: left;
        .titulo__portada {
            font-size: 4.4rem;
            font-weight: 400;
            .extra__portada {
                font-size: 3.5rem;
                font-weight: 700;
            }
        }
        .comentario__portada {
            width: 100%;
            margin-left: 0;
            font-size: 1.2rem;
        }
    }
}
.component__portada {
    height: 40vh;
    .under__texto{
        .under__titulo {
            font-size: 3.2rem;
            font-weight: 700;
        }
    }
}
}

@media screen and (min-width: 1201px) {
.component__portada {
    height: 70vh;
    .banner__posicion {
        object-position: 0 25%;
    }
}
}




