@import "../base/mixin";
@import "../base/variables";

.contenedor__novedades {
    @include gridMobile;
    margin-top: 100px;
    gap: 80px;
    .item__novedades{
        @include gridMobile;
        text-align: left ;
        padding: 0 18px;
        gap: 10px;
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        .item__fecha {
            width: 100%;
            color: $color-principal;
            margin: 0;
        }
        h2 {
            font-size: 1.3rem;
            font-weight: 700;
            color: $color-secundario;
            width: 100%;
        }
        div {
            @include separadorDos
        }
    }
}

@media screen and (min-width: 600px) {
    .contenedor__novedades {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        padding: 0 24px;
        .item__novedades {
            padding: 24px 0;
        }
    }
}

@media screen and (min-width: 1201px) {
    .contenedor__novedades {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 0 68px;
    }
}